.alert-primary {
  background-color: #086bac !important;
  color: #fbfcff !important;
}

.alert-secondary {
  background-color: #fbfcff !important;
  color: #086bac !important;
}

.alert-notice {
  background-color: #086bac !important;
  color: #fbfcff !important;
}

.alert-timeout {
  background-color: #086bac !important;
  color: #fbfcff !important;
}

.alert-alert {
  background-color: #fbfcff !important;
  color: #F25F5C !important;
}

.alert-danger-dark {
  background-color: #F25F5C !important;
  color: #fbfcff !important;
}

.alert-danger-light {
  background-color: #F9B6B4 !important;
  color: #50514F !important;
}

.alert-success-dark {
  background-color: #26C485 !important;
  color: #fbfcff !important;
}

.alert-success-light {
  background-color: #B0E9D2 !important;
  color: #50514F !important;
}

.alert-warning {
  background-color: #FFD784 !important;
  color: #fbfcff !important;
}

.alert-dark {
  background-color: #50514F !important;
  color: #fbfcff !important;
}