.bg-primary {
  background-color: #086bac !important;
  color: #fbfcff !important;
}

.bg-secondary {
  background-color: #fbfcff !important;
  color: #086bac !important;
}

.bg-danger {
  background-color: #F25F5C !important;
  color: #fbfcff !important;
}

.bg-success {
  background-color: #26C485 !important;
  color: #fbfcff !important;
}

.bg-warning {
  background-color: #FFD784 !important;
  color: #fbfcff !important;
}
