.badge-primary {
  background-color: #086bac !important;
  color: #fbfcff !important;
}

.badge-secondary {
  background-color: #fbfcff !important;
  color: #086bac !important;
}

.badge-danger {
  background-color: #F25F5C !important;
  color: #fbfcff !important;
}

.badge-success {
  background-color: #26C485 !important;
  color: #fbfcff !important;
}

.badge-warning {
  background-color: #FFD784 !important;
  color: #fbfcff !important;
}
