.btn-table {
  min-width: 1.5rem;
}

.btn-primary {
  background-color: #086bac !important;
  color: #fbfcff !important;
}

.btn-secondary {
  background-color: #fbfcff !important;
  color: #086bac !important;
}

.btn-danger {
  background-color: #F25F5C !important;
  color: #fbfcff !important;
}

.btn-success {
  background-color: #26C485 !important;
  color: #fbfcff !important;
}

.btn-warning {
  background-color: #FFD784 !important;
  color: #fbfcff !important;
}

.btn-flat-primary {
  background-color: transparent !important;
  color: #fbfcff !important;
}
.btn-flat-secondary {
  background-color: transparent !important;
  color: #086bac !important;
}
.btn-flat-danger {
  background-color: transparent !important;
  color: #F25F5C !important;
  font-weight: 800 !important;
}
.btn-flat-success {
  background-color: transparent !important;
  color: #26C485 !important;
  font-weight: 800 !important;
}
.btn-flat-warning {
  background-color: transparent !important;
  color: #FFD784 !important;
  font-weight: 800 !important;
}

.btn-float-primary {
  background-color: #086bac !important;
  color: #fbfcff !important;
}
.btn-float-secondary {
  background-color: #fbfcff !important;
  color: #086bac !important;
}
.btn-float-danger {
  background-color: #F25F5C !important;
  color: #fbfcff !important;
}
.btn-float-success {
  background-color: #26C485 !important;
  color: #fbfcff !important;
}
.btn-float-warning {
  background-color: #FFD784 !important;
  color: #fbfcff !important;
}

.btn-link-primary {
  color: #50514F !important;
}

.btn-link-secondary {
  color: #086bac !important;
}

.btn-link-danger {
  color: #F25F5C !important;
}

button[disabled] {
  background-color: #50514F !important;
  color: #fbfcff !important;
}

