.form-control:focus {
  border-color: #50514F !important;
  box-shadow: inset 0 -2px 0 -1px #50514F !important;
}

.is-valid.form-control {
  border-color: #053B5E !important;
  box-shadow: inset 0 -2px 0 -1px #053B5E !important;
}

.custom-switch .custom-control-input:checked ~ .custom-control-track {
  background-color: rgba(8, 107, 172, 0.5);
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #086bac;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #086bac;
}

.valid-feedback {
  color: #26C485 !important;
}
.invalid-feedback {
  color: #F25F5C !important;
}

.valid-tooltip {
  background-color: #26C485 !important; 
  color: #fbfcff !important;
}
.invalid-tooltip {
  background-color: #F25F5C !important; 
  color: #fbfcff !important;
}