.rm-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.rm-top-1 {
  margin-top: 1rem !important;
}

.rm-bottom-1 {
  margin-bottom: 1rem !important;
}

.rm-2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.rm-top-2 {
  margin-top: 2rem !important;
}

.rm-bottom-2 {
  margin-bottom: 2rem !important;
}