.label-login {
  color: #8F908F !important;
}

.label-login-input {
  color: #50514F !important;
}

.floating-label.is-focused label {
  color: #50514F !important;
  text-align: center !important;
}

.floating-label-sm {
  font-size: 90% !important;
}