.md-lg {
  font-size: 400% !important;
}

.md-sm {
  font-size: 125% !important;
}

.md-av {
  font-size: 200% !important;
}

.md-primary {
  color: #086bac !important;
}

.md-secondary {
  color: #fbfcff !important;
}

.md-danger {
  color: #F25F5C !important;
}

.md-success {
  color: #26C485 !important;
}

.md-warning {
  color: #FFD784 !important;
}

.md-dark {
  color: #50514F !important;
}