.table-font-sm {
  font-size: 80% !important;
}

.table-row-select {
  background-color: #D2E4EF !important;
}

.table tbody {
  color: #50514F !important;
}

.table-3 {
  width: 3%;
}

.table-5 {
  width: 5%;
}

.table-10 {
  width: 10%;
}

.table-15 {
  width: 15%;
}

.table-20 {
  width: 20%;
}

.table-25 {
  width: 25%;
}

.table-30 {
  width: 30%;
}

.table-35 {
  width: 35%;
}

.table-40 {
  width: 40%;
}

.table-45 {
  width: 45%;
}

.table-50 {
  width: 50%;
}

.table-55 {
  width: 55%;
}

.table-60 {
  width: 60%;
}

.table-65 {
  width: 65%;
}

.table-70 {
  width: 70%;
}

.table-75 {
  width: 75%;
}